<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true"
         stopOnFailure="true" testdox="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="DefaultValueTest Tests">
            <file>./tests/Cases/DefaultValueTest.php</file>
        </testsuite>
        <testsuite name="GetSetterTest Tests">
            <file>./tests/Cases/GetSetterTest.php</file>
        </testsuite>
        <testsuite name="ValidationAttrTest Tests">
            <file>./tests/Cases/ValidationAttrTest.php</file>
        </testsuite>
        <testsuite name="ValidationTest Tests">
            <file>./tests/Cases/ValidationTest.php</file>
        </testsuite>
        <testsuite name="BaseArgTest Tests">
            <file>./tests/Cases/BaseArgTest.php</file>
        </testsuite>
        <testsuite name="JsonTest Tests">
            <file>./tests/Cases/JsonTest.php</file>
        </testsuite>
        <testsuite name="IgnoreAssignAttrTest Tests">
            <file>./tests/Cases/IgnoreAssignAttrTest.php</file>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
