<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true"
         stopOnFailure="true" testdox="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="ArgAttr Tests">
            <file>./tests/Cases/ArgAttrTest.php</file>
        </testsuite>
        <testsuite name="BaseArg Tests">
            <file>./tests/Cases/BaseArgTest.php</file>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
